node_modules/
coverage/
dist/
.vite/
.tmp/
*.log
.DS_Store
run/*.db
run/*.sqlite
run/*.sqlite-shm
run/*.sqlite-wal
run/*.sqlite3
run/*.bkp
charts/[0-9]*.xml
untrusted-content/
uploads/
/docs/3rdParty
*.pyc
